{% extends "newsletter/common.html" %}

{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Newsletter detail" %}{% endblock title %}

<body>
{% block body %}

 <div class="navbar navbar-inverse" id="navbar-top">
      <div class="navbar-inner">
        <div class="container">
         <span class="brand">{{ object.title }} - {% trans "Newsletter" %}</span></a>
          <ul class="nav pull-right">
            <a href="{% url "newsletter_subscribe_request" object.slug %}" class="btn btn-success"><i class="icon-white icon-envelope"></i>{% trans "Subscribe" %}</a>
		<a href="{% url "newsletter_update_request" object.slug %}" class="btn btn-warning">{% trans "Update" %}</a>
		<a href="{% url "newsletter_unsubscribe_request" object.slug %}" class="btn btn-danger">{% trans "Unsubscribe" %}</a>
		<a href="{% url "newsletter_archive" object.slug %}" class="btn btn-primary">{% trans "Archive" %}</a>
		<a href="../" class="btn"> Back to {% trans "Newsletter" %} list</a>
      	  </ul>          
        </div>
      </div>
    </div>




<div class="container">
      <div class="content">
        <div class="frontpage-box">
  <div class="inner">
    
	<h2>{% trans "description" %}</h2> 
  {{ newsletter.information }}
      </div>
      </div>
    </div>
 
</div>
    

{% endblock body %}
 </body>

